<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.dao.StudentMapper">
    <!--id相当于dao里面的方法名-->
    <select id="getStudentList" resultType="com.yuan.pojo.Student">
        select * from student
    </select>

    <select id="getStudentById" parameterType="int" resultType="com.yuan.pojo.Student">
        select * from student where id=#{id}
    </select>

    <select id="getStudentLike" parameterType="java.lang.String" resultType="com.yuan.pojo.Student">
        select * from student where name like "%"#{name}"%"
    </select>

    <insert id="addStudent" parameterType="com.yuan.pojo.Student" >
        insert into student(id,name,password) values(#{id},#{name},#{password})
    </insert>

<!--    通过map方法不需要传递所有参数-->
    <insert id="addStudent2" parameterType="map" >
        insert into student(id,name,password) values(#{studentId},#{studentName},#{password})
    </insert>

    <update id="updateStudent" parameterType="com.yuan.pojo.Student">
        update student set name=#{name},password=#{password} where id=#{id}
    </update>

    <delete id="deleteStudent" parameterType="int">
        delete from student where id=#{id}
    </delete>

</mapper>